{% extends "layout.html"%}
{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

<style>
    .checked {
      color: orange;
    }
    </style>
<div class="table-users">
    <div class="header"> Performance
        <!-- <div style="text-align: right; font-size:small">
                <select>
                        <option value="Sort By">Sort By</option>
                        <option value="1">hightToLow</option>
                        <option value="2">LowToHigh</option>
                        <option value="3">Alphabetic</option>
                </select>
                <select>
                        <option value="Filter By">Filter By</option>
                        <option value="saab">hightToLow</option>
                        <option value="mercedes">LowToHigh</option>
                        <option value="audi">Alphabetic</option>
                </select>
        </div>-->
        <div style="text-align: left; color:lavender; font-size: medium;">
              {{brokername}}<br></div>
        <div style=" text-align: left; color: cornsilk; font-size: small;"><a href="https://www.brokersite.com/" target="_blank">https://www.brokersite.com/</a></div>
    </div>
    
    <table cellspacing="0">
       <tr style="text-align: center;">
          <th>Year</th>
          <th>Hit Ratio</th>
          <th>Return%</th>
          <th>No of Records</th>
          <th>Rating</th>
       </tr>
       {%for key,value in output_data.items() %} 
  
       <tr style="cursor:pointer;" onclick='location.href="/recommendlist/{{brokername}}/{{key}}"'>
        <td>{{key}}</td>
        <td>{{value[0][1]}}</td>
        <td>{{value[0][2]}}</td>
        <td>{{value[0][3]}}</td>
        <td>{{value[0][4]}}</td>
     </tr>

   {%endfor%}


    </table>
 </div>
 {% endblock content%}
