{% extends "layout.html"%}
{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

<style>
    .checked {
      color: orange;
    }
    </style>
<div class="table-users">
    <div class="header"> recommendation List
        <!-- <div style="text-align: right; font-size:small">
                <select>
                        <option value="Sort By">Sort By</option>
                        <option value="1">hightToLow</option>
                        <option value="2">LowToHigh</option>
                        <option value="3">Alphabetic</option>
                </select>
                <select>
                        <option value="Filter By">Filter By</option>
                        <option value="saab">hightToLow</option>
                        <option value="mercedes">LowToHigh</option>
                        <option value="audi">Alphabetic</option>
                </select>
        </div> -->
        <div style="text-align: left; color:lavender; font-size: medium;">
                {{brokername}}<br></div>
          <div style=" text-align: left; color: cornsilk; font-size: small;"><a href="https://www.brokersite.com/" target="_blank">https://www.brokersite.com/</a></div>
      </div>
    
    
    <table cellspacing="0">
       <tr style="text-align: center;">
          <th>Company</th>
          <th>Recomended_buying</th>
          <th>predict_date</th>
          <th>target_price</th>
        </tr>
       {%for record in output_data%} 
  
       <tr>
                <td>{{record[2]}}</td>
                <td>{{record[4]}}</td>
                <td>{{record[5]}}</td>
                <td>{{record[6]}}</td>
        </tr>

   {%endfor%}

    </table>
 </div>
 {% endblock content%}
