{% extends "layout.html"%}
{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

<style>
    .checked {
      color: orange;
    }
    </style>
<div class="table-users">
    <div class="header"> Recommandation List
        <div style="text-align: right; font-size:small">
                <select>
                        <option value="Sort By">Sort By</option>
                        <option value="1">hightToLow</option>
                        <option value="2">LowToHigh</option>
                        <option value="3">Alphabetic</option>
                </select>
                <select>
                        <option value="Filter By">Filter By</option>
                        <option value="saab">hightToLow</option>
                        <option value="mercedes">LowToHigh</option>
                        <option value="audi">Alphabetic</option>
                </select>
        </div>
    </div>
    
    <!-- <table cellspacing="0">
       <tr style="text-align: center;">
          <th>Year</th>
          <th>Hit Ratio</th>
          <th>Return%</th>
          <th>No of Records</th>
       </tr>
       {%for i in range(1, 5)%} 
  
       <tr style="cursor:pointer;" onclick="">
        <td>2016</td>
        <td>69</td>
        <td>89%</td>
        <td>110</td>
     </tr> -->

   {%endfor%}

    </table>
 </div>
 {% endblock content%}
