{% extends "layout.html"%}
{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

<style>
    .checked {
      color: orange;
    }
    </style>
<div class="table-users">
    <div class="header">{{yearNo}}
        <div style="text-align: right; font-size:small">
                <form action="/home" method="GET" name = "filters">
                        <select name = 'orderBy'>
                                <option value="ascending" selected>Ascending</option>
                                <option value="descending">Descending</option>
                        </select>
                        <select name = 'year'>
                                <option value='2016'>2016</option>
                                <option value='2017'>2017</option>
                                <option value='2018'>2018</option>
                                <option value='9999' selected>Cumulative</option>
                        </select>
                        <button type="submit" >Apply</button>

                </form>
        </div>
    </div>
    
    <table cellspacing="0">
       <tr style="text-align: center;">
          <!-- <th>srno</th> -->
          <th>Name</th>
          <!-- <th>website</th> -->
          <th>Rating</th>
       </tr>
       {% for row in output_data %}
            <tr style="cursor:pointer;" onclick='location.href="/yearwiseInfo/{{row[1]}}"'>
                 <!--<td>{{row[0]}}</td> -->
                <td>{{row[1]}}</td>
                <td>{{row[5]}}</td>
            </tr>
       {% endfor %}

    </table>
 </div>
 {% endblock content%}
